    <h1>About Us</h1>
    <p>
      <a href='home'>Civil Writes</a>
      is a project to enable people to share their personal experiences about their
      culturally diverse world.  The idea is that memorable experiences, whether
      positive or not, should be shared with others.
    </p>

